*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #f0f0f0; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#main{
    background-color: aliceblue;
    /* display: flex; */
    height: 800px;
    width: 1000px;
    /* align-items: center;
    justify-content: center; */
}

#cima{
    height: 50%;
    width: 100%;
    display: flex;
}
.lados{
    width: 50%;
    align-items: center;
    justify-content: center;
}

#baixo{
    height: 50%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: azure;
}